properties/category.dtd.later

<!ELEMENT category (description,sourceProfiles, visibility?)>
<!ATTLIST category 
    name CDATA #REQUIRED
    edit (all|personal|managed|no) "no">
<!ELEMENT description (#PCDATA)>     
<!ELEMENT sourceProfiles (sourceProfile+)>

<!ELEMENT sourceProfile (visibility?,parsing?)>
<!ATTLIST sourceProfile 
	id ID #REQUIRED
    name CDATA #REQUIRED
    url CDATA #REQUIRED
    xsltFile CDATA #REQUIRED
    itemXPath CDATA #REQUIRED
    access (public|cas) #IMPLIED
    specificUserContent (yes|no) "no">

<!ELEMENT visibility (allowed,autoSubscribed,obliged)>

<!ELEMENT allowed (regular*, group*)>
<!ELEMENT autoSubscribed (regular*, group*)>
<!ELEMENT obliged (regular*, group*)>

<!ELEMENT regular EMPTY>
<!ATTLIST regular 
    attribute CDATA #REQUIRED
    value CDATA #REQUIRED>

<!ELEMENT group EMPTY>
<!ATTLIST group name CDATA #REQUIRED>

<!ELEMENT parsing (XPathNameSpace*)>
<!ATTLIST parsing
	xsltFile CDATA #REQUIRED
    itemXPath CDATA #REQUIRED>
      
<!ELEMENT XPathNameSpace EMPTY>
<!ATTLIST XPathNameSpace 
	prefix CDATA #REQUIRED
	uri CDATA #REQUIRED>