properties/mappings.dtd.later

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT mappings (mapping+)>

<!ELEMENT mapping (parsing)>
<!ATTLIST mapping 
	sourceURL CDATA #IMPLIED
    dtd CDATA #IMPLIED
    xmlns CDATA #IMPLIED
    xmlType CDATA #IMPLIED
    rootElement CDATA #IMPLIED>
  
<!ELEMENT parsing (XPathNameSpace*)>
<!ATTLIST parsing
	xsltFile CDATA #REQUIRED
    itemXPath CDATA #REQUIRED>
      
<!ELEMENT XPathNameSpace EMPTY>
<!ATTLIST XPathNameSpace 
	prefix CDATA #REQUIRED
	uri CDATA #REQUIRED>